/* text-colores */
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo--size {
  padding: 16px 0;
}

.logo__part__header {
  color: #212121;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.list {
  list-style: none;
}

.conteiner {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.is-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  border: transparent;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn--hero__size {
  padding: 10px 32px;
}

.list__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list__social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.list__social__item:last-child {
  margin-right: 0px;
}

.link__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link__social:hover, .link__social:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.link__social__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link__social__footer__footer:hover, .link__social__footer__footer:focus {
  background-color: #2196f3;
}

.link__social__footer .social__icon__footer {
  fill: currentColor;
}

.social__icon {
  fill: currentColor;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #a1a1a1;
}

.header__open__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .btn__mobile {
    width: 40px;
    height: 40px;
    margin-left: auto;
    border: 1px solid green;
    background-color: transparent;
  }
  .btn__mobile .icon__menu__open {
    display: block;
  }
  .btn__mobile .open-menu-btn .icon__menu__open {
    display: block;
  }
  .btn__mobile .open-menu-btn .mob-menu {
    display: block;
  }
  .btn__mobile .icon__mobile {
    fill: currentColor;
  }
  .mob-menu .is-hidden .icon__menu__open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .btn__mobile {
    display: none;
  }
}

.section__hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-section/header-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-section/header-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section__hero--size {
  padding: 118px 0;
}

.hero__tittle {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__tittle--size {
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .hero__tittle {
    width: 360px;
  }
}

.hero__conteiner {
  text-align: center;
}

.skills__sections {
  background-color: #ffffff;
}

.skills__sections--size {
  padding: 60px 0;
}

.skills__item {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .skills__item {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .skills__item {
    width: 270px;
  }
}

.skills__item:not(:last-child) {
  margin-bottom: 30px;
}

.skills__item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.skills__tittle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.skills__tittle--size {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .skills__tittle {
    text-align: center;
  }
}

.skills__par {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Befor icond */
.icon__locator::before {
  content: "";
  background-image: url(../img/skills-before/antenna.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px 70px;
}

.icon__clock::before {
  content: "";
  background-image: url(../img/skills-before/clock.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px 70px;
}

.icon__laptop::before {
  content: "";
  background-image: url(../img/skills-before/diagram.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px 70px;
}

.icon__spaceman::before {
  content: "";
  background-image: url(../img/skills-before/astronaut.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px 70px;
}

.we-do__section {
  display: none;
}

.team__section {
  background-color: #f5f4fa;
}

.team__section--size {
  padding: 60px 0;
}

.section__tittle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section__tittle--size {
  margin-bottom: 30px;
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item--size {
  margin-bottom: 30px;
}

.team__conteiner {
  background-color: #ffffff;
}

.team__conteiner--size {
  padding: 30px 32px;
  border-radius: 0px 0px 4px 4px;
}

.team__tittle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__tittle--size {
  margin-bottom: 10px;
}

.team__par {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team__par--size {
  margin-bottom: 16px;
}
/*# sourceMappingURL=main.css.map */