// utill
@import'./utils/var';
@import'./utils/reset';




// components
@import'./components/logo';
@import'./components/conteiner';
@import'./components/is-hidden';
@import'./components/btn';
@import'./components/social-icon-list';
@import'./components/modal';
@import'./components/modal-form';





// layout
@import'./layout/header';
@import'./layout/hero-section';
@import'./layout/skills-section';
@import'./layout/we-do-section';
@import'./layout/team-section';
@import'./layout/uor-clients';
@import'./layout/footer';
@import'./layout/portfolio';
@import'./layout/contacts';











