.header{
    position: relative;
    background-color: $bg-pr-col;
    border-bottom: 1px solid$br-solid-col;

    &__open__mobile {
        display: flex;
        align-items: center;
        justify-content: center;

    }
}




@media screen and (max-width:767px){

    .btn__mobile{
        width: 40px;
        height: 40px;

        margin-left: auto;
        border: 1px solid green;
        background-color: transparent;

        //  & .icon__menu__open{
        //     //  display: block;

            
        // }

        //  & .open-menu-btn .icon__menu__open{
        //     //  display: block;
        //  }

        //  & .open-menu-btn .mob-menu{
        //     //  display: block;
        //  }


        .icon__mobile{
            fill:currentColor;
        }
    }

    // .mob-menu .is-hidden .icon__menu__open{
    //     // display: block;
    // }

}

@media screen and (min-width:768px){
    .btn__mobile{
        display: none;
    }
}


