.header{
    position: relative;
    background-color: $bg-pr-col;
    border-bottom: 1px solid $br-solid-col;

    &__open__mobile {
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

.mobile__menu__conteiner{
    position: fixed;
    top:0;
    left:0;
    background-color: $bg-pr-col;
    width: 100vw;
    height: 100vh;
}




@media screen and (max-width:767px){

    .btn__mobile{
        
        width: 40px;
        height: 40px;

        margin-left: auto;
        border: 1px solid green;
        background-color: transparent;

       


        .icon__mobile{
            position: fixed;
            top:10px;
            right:15px;
            fill:currentColor;
        }
    }

    

}

@media screen and (min-width:768px){
    .btn__mobile{
        display: none;
    }
}


