.logo{
    display: block;

    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.7; 
    letter-spacing: 0.03em;

    color: $accent-col;

        &--size{
            padding: 16px 0;

            
                @media screen and (min-width:768px) {
                    margin-right: 88px;
                    padding: 20px 0;

                    
                    
                }

                @media screen and (min-width:1200px) {
                    font-size: 26px;
                    line-height: 1.2;

                    padding: 24px 0;
                    
                }
                    
                
            
        }

        &__part__header{
            color: $pr-col-txt;
        }

        &--footer{
            display: block;
            margin-bottom: 20px;
        }

        &__part__footer{
            color: $bg-pr-col;
        }
}