// backdrop







 .backdrop {
   position: fixed;
   top: 0;
   left: 0;

   width: 100vw;
   height: 100vh;

  background-color:$bg-modal-col;

   transition: opacity 250ms, visibility 250ms,
     transform 250ms cubic-bezier(0, 0.36, 0.7, 0.65);

     &.backdrop__hidden .modal {
       transform: skew(40deg);
     }
 }


  .backdrop__hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }





/* Form */

 .form__tittle {
    
  
   font-weight: bold;
   font-size: 20px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.03em;
   color: $pr-col-txt;

   &--size{
     margin-bottom: 20px;
   }
 }


 .conteiner__modal__form {
   position: relative;
     &--size{
     margin-bottom: 10px;
     }
 }

 .modal__lable {
  
   top: 0;
   left: 0;

   display: flex;
  

   font-weight: normal;
   font-size: 12px;
   line-height: 1.2;
   letter-spacing: 0.01em;

   cursor: pointer;

   color: $second-col-txt;

   &--size{
     margin-bottom: 4px;
   }
 }

 .modal__input {
   width: 100%;
   height: 40px;
   padding-right: 10px;
   padding-left: 43px;
   border-radius: 4px;
   border: 1px solid $border-input-col;
   outline: transparent;

   cursor: pointer;

   transition: border $pr-transition;

   &:hover,
   &:focus {
   border: 1px solid$accent-col;
   }
 }


 .modal__icon {
   position: absolute;
   top: 50%;
   left: 12px;
  

   fill: currentColor;
   cursor: pointer;

   transition: fill$pr-transition;

   .modal__input:hover ~ &,
   .modal__input:focus ~ & {
     fill: $accent-col;
   }
   &:hover,
   &:focus{
     fill: $accent-col;
   }
 }







 .textarea__modal__form {
   position: relative;
   &--size{
     margin-bottom: 20px;
   }
  
 }
 .textarea__modal {
   width: 100%;
   height: 120px;
   padding: 12px 16px;

   border-radius: 4px;
   border: 1px solid $border-input-col;
   outline: transparent;

   cursor: pointer;

   transition: border$pr-transition;

   resize: none;

     &:focus,
     &:hover {
     border: 1px solid $accent-col;
   }
   &::placeholder {
     font-style: normal;
     font-weight: normal;
     font-size: 12px;
     line-height: 14px;
     letter-spacing: 0.01em;
  
     color: rgba(117, 117, 117, 0.5);
   }
 }


 .modal-lable-textarea {
   position: absolute;
   top: 0;
   left: 0;
   transform: translateY(-20px);

   font-weight: normal;
   font-size: 12px;
   line-height: 1.2;
   letter-spacing: 0.01em;

   cursor: pointer;

   color: var(--second-col-txt);
 }






 .modal__checkbox {
   position: relative;
   align-items: center;
    justify-content: center;
    
    display: inline-flex;
   
   @media screen and (max-width:479px){
    font-size: 10px;
    line-height: 1.2;
    flex-wrap: wrap;
   }
   
     
   
   align-items: center;
   justify-content: center;
  

   font-style: normal;
   font-weight: normal;
   font-size: 12px;
    line-height: 1.2;
   letter-spacing: 0.03em;
  
   @media screen and(min-width:1200px) {
     display: flex;
    font-size: 14px;
    line-height: 2;
    
     
   }



   color: $second-col-txt;

   &--size{
     margin-bottom: 24px;
   }

   &__title {
      position: absolute;
     display: inline-flex;
   
    
  
       white-space: nowrap;
       width: 1px;
      height: 1px;
       
       border: 1px;
      padding: 0;
       clip: rect(0 0 0 0);

     &:focus +.checkbox__icon,
     &:hover +.checkbox__icon{
       border: 2px solid $accent-col;
        }
        
       

     

      &:checked + .checkbox__icon {
       background-color:$hover-btn-col;
       border-color: $hover-btn-col;
       background-image: url(../img/chek-icon.svg);
       background-size: contain;
       background-repeat: no-repeat;
       background-position: center;
       background-origin: content-box;
      
     }
    }
   
    &--title__par {
     margin-right: 5px;

  
     cursor: pointer;
   }

   &__title__link {
     color: $accent-col;
     cursor: pointer;
     transition: color $pr-transition;
     &:focus,
     &:hover {
     color: $hover-btn-col;
     }

    
   }
   &--title__par {
     margin-right: 5px;
     @media screen and (max-width:480px){
      margin: 5px 0;
      text-align: center;
     }
  
     cursor: pointer;
   }
  
 }


 .checkbox__icon {
   width: 16px;
   height: 15px;
   margin-right: 9px;

   cursor: pointer;

   border-radius: 2px;

   border: 2px solid $pr-col-txt;
   transition: border $pr-transition;

   &:focus,
   &:hover {
   border: 2px solid $accent-col;
  
   }
 }








